body{
    
    padding: 20px 5px;
    
}
.login{
    text-align: center;
    border-radius: 5px;
    padding: 0px;
    margin: 0px;
    background-color: white;
   position: absolute;
   top: 25%;
   left: 50%;
   transform: translate(-50%,-50%);
   width:300px;
    
}
.title{
    text-align: center;
    padding:20px;
    border-bottom: 1px solid grey;
}
Input{
    margin:20px 0;
    width: 80%;
    
}
.link{
    
    background-color: aquamarine;
    width: 300px;
    border:solid 2px;
}